<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd" id="WebApp_ID" version="4.0">
  <display-name>EmployeeManagementSystem-JavaServlet</display-name>
  <welcome-file-list>
    <welcome-file>login.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <servlet-name>LoginServlet</servlet-name>
    <servlet-class>com.employee.servlet.Login</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginServlet</servlet-name>
    <url-pattern>/login</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>LogoutServlet</servlet-name>
    <servlet-class>com.employee.servlet.Logout</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LogoutServlet</servlet-name>
    <url-pattern>/logout</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>save</servlet-name>
    <servlet-class>com.employee.servlet.SaveData</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>save</servlet-name>
    <url-pattern>/saveservlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>get</servlet-name>
    <servlet-class>com.employee.servlet.GetData</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>get</servlet-name>
    <url-pattern>/getuserdata</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>delete</servlet-name>
    <servlet-class>com.employee.servlet.DeleteData</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>delete</servlet-name>
    <url-pattern>/deleteuserdata</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>userdata</servlet-name>
    <servlet-class>com.employee.servlet.UpdateGetData</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>userdata</servlet-name>
    <url-pattern>/edituser</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>userupddata</servlet-name>
    <servlet-class>com.employee.servlet.UpdateData</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>userupddata</servlet-name>
    <url-pattern>/updateuser</url-pattern>
  </servlet-mapping>
</web-app>